@import url('https://fonts.googleapis.com/css?family=Muli');

*{
  margin: 0;
    padding: 0;
	outline: none;
	border: none;
	-webkit-box-sizing: border-box;
}
*:before,
*:after{
	-webkit-box-sizing: border-box;
}
.clearfix {
  *zoom: 1;
}
html{
	font-family: Muli, Helvetica, arial, sans-serif;
	font-size: 12px;
}
body{
	font-family: Muli, Helvetica, Arial, sans-serif;
    font-size: 1em;
    background-color: #fff;
    color: #fff;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.container{
	width: 80%;
	margin: 0 auto;
}
header{
	width: 100%;
	height: auto;
	background: black;
}
.header-left,
.header-right{
	position: relative;
	color: white;
	float: left;
}
.header-left{
	width: 30%;
}
.header-right label{
	position: absolute;
	top: -3.7em;
	right: 0;
	cursor: pointer;
}
.header-right span{
	position: relative;
	width: 2em;
	height: 2em;
	background: rgba(255,255,255,.3);
	/*-webkit-transition: all .3s ease;*/
}
.header-right span:hover{
	background: rgba(255,255,255,.6);
}
.header-right span:before,
.header-right span:after{
	content: '';
	position: absolute;
	width: 2em;
	height: .5em;
	top: 4px;
	left: 0;
	background: black;
}
.header-right span:after {
	top: 14px;
}
.header-right {
	width: 100%;
	text-align: center;
}
#open {
	display: none;
}
h1 {
	font-weight: 300;
	line-height: 40px;
    text-align: center;
}

h2 {
    color: #000;
    font-size: 2.2em;
    text-transform: uppercase;
    margin-top: 20px;
}
a {
	text-decoration: none;
	color: white;
}
nav>a{
	position: relative;
	display: inline-block;
	font-size: 12px;
	line-height: 40px;
    text-transform: uppercase;
	padding: 0 3.3em;
	/*-webkit-transition: all .4s ease;*/
}
nav>a:hover{
	background: rgba(255,255,255,.9);
	color: black;
}
.hidden-desktop{
	display: none;
}
section.clearfix{
	width: 100%;
	height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    background: black url('http://puu.sh/tmEfG/ab9df39205.jpg') no-repeat center;
    
}
/*.section-left,
.section-right{
	float: left;
}*/
.section-left{
	width: 30%;
    margin-left: 35%;
	padding: 3em 0;
    border: solid rgba(0,0,0,0.8);
    background-color: rgba(0,0,0,0.8);
}
.section-right{
	width: 30%;
}
.section-title,
.section-tagline{
	color: #fff;
	font-weight: 300;
	margin: 0;
	padding: 0;
	-webkit-transition: all .4s ease;
    text-transform: uppercase;
}
.section-title{
	font-size: 2.5em;
	margin-bottom: .4em;
	text-shadow: 0 3px 0px black,
				 0 4px 0px rgba(150,150,150,.5);
}
.section-tagline{
	font-size: 12px;
    font-weight: 500;
    text-align: center;
}
/*.learn-more{
	display: table;
	margin: 3em auto 0;
	padding: 1em 6em;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.8);
	background: #EAAF00;
	background-image: -webkit-linear-gradient(#EAAF00 0%, #D78100 100%);
	font-size: 1.2em;
}
.learn-more:hover{
	background: #EAAF00;
}
.learn-more:active{
	box-shadow: inset 0 2px 0 rgba(0,0,0,.8);
}*/

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.box{
		width: 49%;
		margin-bottom: 5%;
	}

	ul li:nth-child(3) .box{
		clear: both;
	}

	ul li:nth-child(2n) .box{
		margin-right: 0;
		clear: right;
	}
}

/* Small monitor */
@media (max-width: 979px){
	nav>a{
		padding: 0 1.5em;
	}
	.section-left,
	.section-right{
		width: 50%;
	}
	.section-left{
		text-align: center;
        margin-left: 180px;
	}
	.section-right{
		padding: 0 0 2em;
	}
	.section-title{
		font-size: 4em;
		margin-bottom: .2em;
	}
	.section-tagline{
		font-size: 1.3em;
	}
	.learn-more{
		margin: 0 auto;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.container{
		width: 95%;
	}
	nav>a{
		padding: 0 .5em;
	}
	h1{
		padding: .5em 0;
	}
	.header-left,
	.header-right{
		width: 100%;
		text-align: center;
	}
	.section-left,
	.section-right{
		width: 50%;
        margin-left: 155px;
	}
	.section-left{
		text-align: center;
		padding: 2em 0;
	}
	.section-right{
		padding: 1em 0 2em;
	}
	.section-title{
		font-size: 3em;
		margin-bottom: .2em;
	}
	.section-tagline{
		font-size: 1.3em;
	}
	.learn-more{
		margin: 0 auto;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	body{
		padding: 0 .5em;
	}
	.container{
		width: 90%;
	}
	nav {
		height: 0;
		overflow: hidden;
		/*-webkit-transition: all .6s ease;*/
	}
	input[type="checkbox"]:checked + nav{
		height: 205px;
	}
	nav>a{
		padding: 0 1em;
		display: block;
		border-bottom: solid 1px rgba(255,255,255,.1);
	}
	h1{
		padding: .5em 0;
	}
	.header-left,
	.header-right{
		width: 100%;
		text-align: center;
        margin-top: 15px;
	}
	.section-left,
	.section-right{
		width: 60%;
        margin-left: 86px;
	}
	.section-left{
		text-align: center;
		padding: 1em 0;
	}
	.section-right{
		text-align: center;
		padding: 1em 0 2em;
	}
	.section-title{
		font-size: 2.4em;
		margin-bottom: 0;
	}
	.section-tagline{
		font-size: 1em;
	}
	.learn-more{
		display: table;
		margin: 0 auto;
	}
	.hidden-desktop{
		display: block;
	}
}

/* Small Screen */
@media (max-width: 320px) {
    
}

div.notworks {
    width: 100%;
    text-align: center;
}

div.notworks a img {
    display: inline-block;
    width: 270px;
    height: 270px;
    margin-top: 20px;
    margin-left: 13px;
    border: 2px solid #403E40;
    text-align: center;
    box-shadow: 2.5px 2.5px 0px black,
				 4px 4px 0px rgba(150,150,150,.7);
    background-color: rgba(171,176,189,0.8);
    transition: background-color .5s;
}

/* Works */

div.works {
    width: 100%;
    text-align: center;
}

div.works a img {
    display: inline-block;
    width: 270px;
    height: 270px;
    margin: 13px;
    border: 2px solid #403E40;
    text-align: center;
    box-shadow: 2.5px 2.5px 0px black,
				 4px 4px 0px rgba(150,150,150,.7);
    background-color: rgba(171,176,189,0.8);
    transition: background-color .5s;
}

div.kms {
    display: inline-block;
    margin: 13px;
    text-align: center;
    height: 270px;
    width: 270px;
}

div.kms p {
    margin-left: 13px;
    width: 100%;
    color: #000;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

.fade {
   opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
}

.fade:hover {
    opacity: 0.46;
    transition: opacity .4s ease-in-out;
}

/* Promise Playground */

div.pplogo {
    width: 100%;
    text-align: center;
}

div.ppvideo {
    width: 100%;
    text-align: center;
}

/* Texting & Driving PSA */

div.psa-video {
    text-align: center;
    margin-top: 15px
}

/* Study Break */

div.studybreak-video {
    text-align: center;
    margin-top: 15px;
}

/* Web Portfolio */

div.web-banner {
    text-align: center;
}

div.web-banner a img {
    height: 325px;
    width: 750px;
}

/* Ghibli Infographic */

div.infographic {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

div.infographic a img{
    border: 2px solid #403E40;
    box-shadow: 2.5px 2.5px 0px black,
				 4px 4px 0px rgba(150,150,150,.7);
}

div.ghibli-p {
    width: 100%;
}

div.ghibli-p p {
    margin-top: 3%;
    color: #000;
    text-align: center;
    font-size: 15px;
}

/* Achievements */
div.illustrator-image {
    text-align: center;
}

div.illustrator-image a img {
    height: 502px;
    width: 650px;
}

div.illustrator-text {
    
}

div.photoshop-image {
    text-align: center;
}

div.photoshop-image a img {
    height: 502px;
    width: 650px;
}

div.photoshop-text {
    
}

div.app-image {
    text-align: center;
}

div.app-image a img {
    height: 502px;
    width: 650px;
}
/* About Me */

div.gross img {
    float: left;
    width: 270px;
    height: 270px;
    margin-left: 20%;
    margin-top: 5%;
    border: 2px solid #403E40;
    text-align: center;
    box-shadow: 2.5px 2.5px 0px black,
				 4px 4px 0px rgba(150,150,150,.7);
}

div.aboutme {
    color: #000;
    width: 100%;
    margin: 5%;
}

div.aboutme p {
    font-size: 15px;
    
}
